python-dotenv
fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
aiofiles
pydantic-settings
alembic
psycopg2-binary
gigachat
langchain
langgraph
langchain-community
langchain-postgres
langchain-core
yandexcloud
python-docx
pytesseract
pillow
torch>=2.0.0
transformers
qwen_vl_utils
