python-dotenv
langchain
langgraph
langchain-community
langchain-postgres
langchain-core
yandexcloud
python-docx
pytesseract
pillow
fastapi
uvicorn[standart]
sqlalchemy[asyncio]
asyncpg
aiofiles
pydantic-settings
alembic
psycopg2-binary